<h2 class="h2 sub-header">Admin</h2>
<h3 class="h3">Users</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Actions</th>
        </tr>
        <tr>
            <td><input type="text" ng-model="user.username" id="adminNewUsername" class="form-control" placeholder="Username"></td>
            <td><input type="text" ng-model="user.password" id="adminNewPassword" class="form-control" placeholder="Password"></td>
            <td>
                <input type="text" ng-model="user.roles" id="adminNewUserRole" class="form-control" placeholder="Role">
            </td>
            <td style="white-space: nowrap">
                <button ng-click="updateUser()" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="addUser()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.roles}}</td>
            <td>
                <button ng-click="selectUser($index)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="removeUser($index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
