<h2 class="h2 sub-header">Admin</h2>
<h3 class="h3">Users</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Actions</th>
        </tr>
        <tr>
            <td><input type="text" id="adminNewUsername" class="form-control" placeholder="Username"></td>
            <td><input type="text" id="adminNewPassword" class="form-control" placeholder="Password"></td>
            <td>
                <input type="text" id="adminNewUserRole" class="form-control" placeholder="Role">
            </td>
            <td style="white-space: nowrap">
                <a href="#" class="btn btn-success">
                    <scan class="glyphicon glyphicon-ok"></scan>
                </a>
                <a href="#" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Alice</td>
            <td></td>
            <td>Student</td>
            <td>
                <a href="#" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a>
                <a href="#" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td>Bob</td>
            <td></td>
            <td>Faculty | Admin</td>
            <td>
                <a href="#" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a>
                <a href="#" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td>Charlie</td>
            <td></td>
            <td></td>
            <td>
                <a href="#" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a>
                <a href="#" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
