<div class="container-fluid">
    <h2 class="h2 sub-header">Forms</h2>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Forms</a></li>
        <li role="presentation"><a href="fields.view.html">Fields</a></li>
    </ul>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Actions</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="newFormName" class="form-control" placeholder="Form Name"></td>
                <td  class="align-right">
                    <a href="#" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="fields.view.html">Registration Form</a></td>
                <td class="align-right">
                    <a href="#" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="fields.view.html">Contact List</a></td>
                <td class="align-right">
                    <a href="#" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="fields.view.html">To Do List</a></td>
                <td class="align-right">
                    <a href="#" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
