    <div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active': $scope.isLocation('/')}"><a href="#/">Home</a></li>
            <li ng-show="user" ng-class="{'active': $scope.isLocation('/profile')}"><a href="#/profile">Profile</a></li>
            <li ng-show="user && user.role.has('admin')" ng-class="{'active': $scope.isLocation('/admin')}"><a href="#/admin">Admin</a></li>
            <li ng-show="user" ng-class="{'active': $scope.isLocation('/forms')}"><a href="#/forms">Forms</a></li>
        </ul>
    </div>
