td {
    white-space: nowrap;
}

.align-right {
    right: 0px !important;
}

.button-area {
    margin:auto;
    white-space: nowrap;
}

.pad-top {
    padding-top: 20px !important;
    white-space: nowrap;
}

.home-box {
    width: 80vw !important;
    padding: 10vw;
}

#login-alert {
    display: none;
}
