<div class="container-fluid">
    <h2 class="h2 sub-header">Forms</h2>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Forms</a></li>
        <li role="presentation"><a href="fields.view.html">Fields</a></li>
    </ul>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Actions</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="newFormName" ng-model="form.title" class="form-control" placeholder="Form Name"></td>
                <td  class="align-right">
                    <button class="btn btn-success" ng-click="updateForm()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-primary" ng-click="addForm()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="form in forms">
                <td>{{form.title}}</td>
                <td class="align-right">
                    <button href="#" class="btn btn-warning" ng-click="selectForm($index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button href="#" class="btn btn-danger" ng-click="deleteForm($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
