<form class="form-signin">
    <h2 class="form-signin-heading">Profile</h2>
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" id="inputUsername" ng-model="user.username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" id="inputFirstName" ng-model="user.firstName" class="form-control" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" id="inputLastName" ng-model="user.lastName" class="form-control" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" ng-model="user.email" class="form-control" placeholder="Email address" required>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" ng-click="update()">Update</button>
</form>
