<h2 class="h2 sub-header">Admin</h2>
<h3 class="h3">Users</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="order('username')"><span class="glyphicon glyphicon-triangle-bottom" ng-show="admin.predicate === 'name'" ng-class="{reverse:admin.reverse}"></span> Username</th>
            <th ng-click="order('password')"><span class="glyphicon glyphicon-triangle-bottom" ng-show="admin.predicate === 'name'" ng-class="{reverse:admin.reverse}"></span> Password</th>
            <th ng-click="order('role')"><span class="glyphicon glyphicon-triangle-bottom" ng-show="admin.predicate === 'name'" ng-class="{reverse:admin.reverse}"></span> Role</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Actions</th>
        </tr>
        <tr>
            <td><input type="text" ng-model="admin.user.username" id="adminNewUsername" class="form-control" placeholder="Username"></td>
            <td><input type="text" ng-model="admin.user.password" id="adminNewPassword" class="form-control" placeholder="Password"></td>
            <td>
                <input type="text" ng-model="admin.user.roles" id="adminNewUserRole" class="form-control" placeholder="Role">
            </td>
            <td style="white-space: nowrap">
                <button ng-click="admin.updateUser()" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="admin.addUser()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="u in admin.users | orderBy:admin.predicate:admin.reverse">
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td>{{u.roles}}</td>
            <td>
                <button ng-click="admin.selectUser($index)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="admin.removeUser($index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
