* {
    font-size: 1em;
}

.jumbotron{
    background:url("../images/first.jpg");
    background-size: cover;
    width: 100vw;
    height: 95vh;
    color: white;
    margin-bottom: 0px;
    height: 100vh;
    padding: 5vh;
}

.navbar{
    margin-bottom: 0px;
}

.first-box-container{

}

@media (max-width: 870px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

footer {
    height: 20vh;
    padding: 1vmin;
    background-color: #2e2e2e;
    color: #cacaca;
}

.links {
    width: 100vw;
    background-color: deepskyblue;
    color: #f4fff8;
    padding: 20vmin;
}

.links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 3em;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: #cacaca;
    padding-top: 5vw;
}

.section-break {
    height: 30vh;
}

.page-break {
    height: 10vh;
}

.no-decoration-links {
    list-style: none;
}