.jumbotron{
    background:url("../images/first.jpg");
    background-size: cover;
    width: 100vw;
    height: 95vh;
    color: white;
    margin-bottom: 0px;
    height: 100%;
    padding: 5vh;
}

.navbar{
    margin-bottom: 0px;
}

.first-box-container{

}

.first-boxes{
    height: 100px;
    background-color: #888888;
    -webkit-opacity: 0.5;
}

@media (max-width: 870px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}