    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="isActive('/')"><a href="#/">Home</a></li>
            <li ng-show="user && user._id" ng-class="main.isActive('/profile')"><a href="#/profile">Profile</a></li>
            <li ng-show="user && user._id && user.roles !== undefined && user.roles.indexOf('admin') !== -1" ng-class="main.isActive('/admin')"><a href="#/admin">Admin</a></li>
            <li ng-show="user && user._id" ng-class="main.isActive('/forms')"><a href="#/forms">Forms</a></li>
        </ul>
    </div>
