<div class="col-sm-8" ng-switch="info.type">
    <!--{{info.type}}-->
    <div ng-switch-when="TEXT">
       <label for="inputText">{{info.label}}</label>
        <input id="inputText" type="text" class="form-control" placeholder="{{info.placeholder}}" />
    </div>
    <div ng-switch-when="TEXTAREA" ng-init="model.fieldType=info.type">
        <label for="inputTextArea">{{info.label}}</label>
        <textarea id="inputTextArea" class="form-control" placeholder="{{info.placeholder}}"></textarea>
    </div>
    <div ng-switch-when="DATE">
        <label for="inputDate">{{info.label}}</label>
        <input id="inputDate" type="date" class="form-control" />
    </div>
    <div ng-switch-when="OPTIONS">
        <label for="inputOptions">{{info.label}}</label>
        <select name="repeatSelect" id="inputOptions" class="form-control" ng-model="info.selected">
            <option ng-repeat="option in info.options" value="{{option.value}}">{{option.label}}</option>
        </select>
    </div>
    <div ng-switch-when="CHECKBOXES">
        <label for="inputCheckbox">{{info.label}}</label>
        <div ng-repeat="option in info.options" class="checkbox" id="inputCheckbox">
            <label><input type="checkbox" ng-true-value="'{{option.value}}'" ng-false-value="''">{{option.label}}</label>
        </div>
        <br>
    </div>
    <div ng-switch-when="RADIOS">
        <label for="inputRadio">{{info.label}}</label>
        <div ng-repeat="option in info.options" class="radio" id="inputRadio">
            <label><input type="radio" ng-true-value="'{{option.value}}'" ng-false-value="''">{{option.label}}</label>
        </div>
        <br>
        </div>
    <div ng-switch-default>
        <label for="inputDefault">{{info.label}}</label>
        <input id="inputDefault" type="{{ info.type | lowercase }}" class="form-control" placeholder="{{info.type}}" />
    </div>
</div>
<div class="col-sm-4 align-right" style="white-space: nowrap">
    <a href="" ng-click="open('lg', info)" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a href='' ng-click="addField()" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="" ng-click="removeField(info)" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <div class="myHandle btn btn-success">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
</div>
