<div class="col-sm-8" ng-switch="info.type">
    <!--{{info.type}}-->
    <div ng-switch-when="TEXT">
        <label for="inputText">{{info.label}}</label>
        <input id="inputText" type="text" class="form-control" placeholder="{{info.placeholder}}" />
    </div>
    <div ng-switch-when="TEXTAREA">
        <label for="inputTextArea">{{info.label}}</label>
        <textarea id="inputTextArea" class="form-control" placeholder="{{info.placeholder}}"></textarea>
    </div>
    <div ng-switch-when="DATE">
        <label for="inputDate">{{info.label}}</label>
        <input id="inputDate" type="date" class="form-control" />
    </div>
    <div ng-switch-when="OPTIONS">
        <label for="inputOptions">{{info.label}}</label>
        <select  ng-model="info" class="form-control" id="inputOptions">
            <option ng-repeat="option in info.options" value="{{option.value}}">{{option.label}}</option>
        </select>
    </div>
    <div ng-switch-when="CHECKBOXES">
        <label for="inputCheckbox">{{info.label}}</label>
        <div class="checkbox" id="inputCheckbox" ng-model="info">
        <label><input ng-repeat="option in info.options" type="checkbox" value="{{option.value}}" name={{info._id}} />{{option.label}}</label>
        <br>
        </div>
    </div>
    <div ng-switch-when="RADIOS">
        <label for="inputRadio">{{info.label}}</label>
        <div class="radio" id="inputRadio" ng-model="info">
            <label><input ng-repeat="option in info.options" type="radio" value="{{option.value}}" name={{info._id}} /> {{option.label}}</label>
            <br>
        </div>
    </div>

    <div ng-switch-default>
        <label for="inputDefault">{{info.label}}</label>
        <input id="inputDefault" type="{{ info.type | lowercase }}" class="form-control" placeholder="{{info.type}}" />
    </div>
</div>
<div class="col-sm-4 align-right" style="white-space: nowrap">
    <button ng-click="editField(info)" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href='' class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <button ng-click="removeField(info)" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <a href='' class="btn btn-success">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
</div>
